
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function myFunction(index, datenow) {
        debugger;
        const url = 'https://localhost:44328/Simple/CreateData';

        let message = '[' + datenow + '] Success: POST https://localhost:44328/ {"counter": ' + objectData[index - 1].counter + ', "X-RANDOM": "' + objectData[index - 1].header + '"}';

        return fetch(url, {
            method: 'post',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json; charset=utf-8',
            },
            body: JSON.stringify({ 'message': message})
        })
            .then(response => {
                if (!response.ok) {
                    debugger;
                    throw new Error(response.statusText);
                }
                return response.json();
            })
            .then(response => {
                return response;
            });
    }


    let stop = 0;
    let objectData = [{ "header": "93f9h3dx", "counter": 1 }, { "header": "fe9g83jm", "counter": 2 }, { "header": "igrijd9p", "counter": 3 }];

    let i = setInterval(async function()
    {
        stop++;
        let datenow = new Date();

        await myFunction(stop, datenow);

        if (stop == objectData.length){
            clearInterval(i);
            alert('Check your .txt file');
        }

     }, 5000);

</script>

